@import url("https://cdn.jsdelivr.net/gh/prayag17/JellySkin//src/Raleway.css");

/*Firefox*/
.videoSubtitles {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;
}

/*Chrome, Edge Chromium & Saffari*/

video::-webkit-media-text-track-display {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 1) !important;
}

/*backup for subtitles*/

video::-webkit-media-text-track-container {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 1) !important;
}

video:cue {
  font-family: "Raleway" !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 1) !important;
}


*::selection {
  color: gold !important;
  background-color: red !important;
}

*:focus {
  outline: 2px solid red !important; /* Change 'red' to the color you prefer */
}
